* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #99999999;
}

a {
    color: rgb(0, 110, 255);
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: #d3d3d1;
    color: #333;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* Margens laterais */
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    z-index: 1000;
    text-align: center;
    max-width: 90%;
    width: 500px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-image {
    width: 100%;
}

.popup-content p {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.popup-content h1 {
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 15px;

    background: rgba(255, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-content button:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Section acima do cabeçalho */
/*
.top-section {
    background-color: #e01e04;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -100px;
    z-index: 999;
    transition: top 0.3s ease;
    text-align: center;
}

.top-section-text p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.top-section-image {
    width: 40px;
    text-align: right;
    animation: pulse 10s infinite;
    margin-top: 10px;
}

.top-section-image img {
    max-width: 100%;
    height: auto;
}
*/

/* Cabeçalho */
header {
    color: white;
    padding: 10px 15%;
    position: sticky;
    top: 0;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;

    background: rgba(211, 211, 209, 0.5);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(211, 211, 209, 0.3);
}

header .logo {
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffffff;
}

/* Seções (Desktop) */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    max-height: 90vh;
    min-height: 90vh;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.0s ease, transform 1.0s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

/* Aplica o blur na imagem de fundo */
.section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 105%;
    background-image: inherit;
    /* Herda a imagem de fundo da section */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -2;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section .info {
    width: 35%;
    text-align: center;
    padding: 35px;

    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.section.reverse {
    flex-direction: row-reverse;
    /* Inverte a ordem dos elementos */
}

.section .info h1,
.section .info h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.section .info p {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: normal;
}

.section .gallery {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;

    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.section .gallery .square {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 16px;
}

.section .gallery .square:hover {
    transform: scale(1.02);
}

.section .gallery .square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.section .gallery .square:hover img {
    transform: scale(1.1);
}

/* Segunda Section (Invertida no Desktop) */
.section.reverse {
    flex-direction: row-reverse;
}

/* Botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;

    background: rgba(30, 255, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(39, 255, 0, 0.3);
}

.whatsapp-button:hover {
    background: rgba(30, 255, 0, 0.3);
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    animation: pulse 2s infinite;
    transition: background-color 0.3s ease;

    background: rgba(30, 255, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(39, 255, 0, 0.3);
}

.whatsapp-button2:hover {
    background: rgba(30, 255, 0, 0.3);
}

.whatsapp-button2 img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Rodapé */
footer {
    background: #d3d3d1;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
}

.social-buttons a {
    text-decoration: none;
    border: none;
    outline: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-buttons {
    margin-top: 15px;
}

.facebook-button,
.instagram-button,
.bitcoin-button {
    border: none;
    margin: 0;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bitcoin-button {
    background-color: #ffffff;
    color: #f7931a;
    padding: 8px 11px;
    font-size: 20px;
}

.facebook-button {
    background-color: #1877F2;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
}

.instagram-button {
    background-color: #E4405F;
    color: white;
    padding: 8px 13px;
    font-size: 20px;
}

.facebook-button:hover {
    background-color: #1466c7;
    transform: scale(1.10);
}

.instagram-button:hover {
    background-color: #c13584;
    transform: scale(1.10);
}

.bitcoin-button:hover {
    background-color: #4d4d4d;
    transform: scale(1.10);
}

.footer-map {
    width: 100%;
}

.footer-map iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.267);
}

.footer-address {
    width: 35%;
    text-align: right;
}

.footer-address h3 {
    margin-bottom: 10px;
    font-size: 28px;
}

.footer-address p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content, #modalVideo {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ccc;
}

.texto-header {
    gap: 5px;
    align-items: center;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

/* Animações ao rolar a página */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1120px) {

    header nav ul {
        display: none;
    }

    /* Ajustes para mobile */
    .section {
        flex-direction: column;
        padding: 40px 20px;
        min-height: auto;
        max-height: 100%;
    }

    .section .info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .section .info h1,
    .section .info h2 {
        font-size: 24px;
    }

    .section .info p {
        font-size: 18px;
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        word-break: normal;
    }

    .section .gallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .section.reverse {
        flex-direction: column;
    }

    .whatsapp-button {
        bottom: 10px;
        right: 10px;
    }

    .whatsapp-button img {
        width: 30px;
        height: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-map,
    .footer-address {
        width: 100%;
        text-align: center;
    }

    .footer-map iframe {
        height: 200px;
    }

    .footer-address h3 {
        font-size: 20px;
    }

    .footer-address p {
        font-size: 20px;
    }
}
